
<html>
    {% load static %}
  
           
            <div class="modal fade"  id="habilitar_habitacion_tabla{{contrato.habitacion.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Habilitar habitación</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>¿Está seguro que desea habilitar la habitación? {{contrato.habitacion.nombre_numero}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cerrar</button>
                      <a href="{% url 'habilitar_ocupadas_tabla_contrato' contrato.habitacion.id %}"> <button  type="button" class="btn btn-info" data-bs-dismiss="modal">Habilitar</button></a>
                     
                    </div>
                  </div>
                </div>
              </div>



  
        

  </html>