<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>






    Hola {{nombre}}&nbsp; {{apellido}}  <br>
    Tu dirección para ingresar al sistema es: {{dominio}}:8000<br>
    Debes colocarla en la parte superior de la pantalla donde van las direcciones url<br>
    Luego desde acceso a usuarios en la página del sitio debes crear un usuario con su contraseña.<br>
    Pueden crear los usuarios que van a manipular el sistema hotelero para que haya registros de ellos.
   









</body>
</html>