<br>
<h1 style="text-align:center; font-family: arial; background:#37517e; color:white; ">Política de privacidad</h1>
<br>
<br>
<p style="margin-left: 120px; font-size:21px; margin-right:120px; margin-top:10px; font-family:arial; color:gray;">

    Dicha Política de Privacidad establece los términos en que usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se emplea de acuerdo con los términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
</p>
    <br><br>
<h3 style="font-weight:bold; margin-left: 120px; font-size:22px; margin-right:120px; margin-top:10px;font-family:arial;  color:gray;"> DATOS OBTENIDOS</h3>
<p style="margin-left: 120px; font-size:21px; margin-right:120px; margin-top:10px;font-family:arial; color:gray; ">
    Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de contacto como su dirección de correo electrónico e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.</p>
<br>
<br>
<h3 style="font-weight:bold; margin-left: 120px; font-size:22px; margin-right:120px; margin-top:10px;font-family:arial; color:gray;"> COOKIES</h3>
<p style="margin-left: 120px; font-size:21px; margin-right:120px; margin-top:10px; font-family:arial;  color:gray;">
Este sitio web utiliza cookies. Una cookie es un pequeño archivo de texto que el sitio web almacena en el navegador del usuario. Las cookies se utilizan para recordar la información del usuario, como las preferencias de idioma, para proporcionar una mejor experiencia de usuario.<br>
Utilizamos cookies propios y de tercero para obtener datos estadísticos de navegación de nuestros usuarios y mejorar nuestro servicio.<br>
Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web.</P>
<br>
<br>
<h3 style="font-weight:bold; margin-left: 120px; font-size:22px; margin-right:120px; margin-top:10px;font-family:arial; color:gray;"> ENLACES DE OTROS SITIOS</h3>
<p style="margin-left: 120px; font-size:21px; margin-right:120px; margin-top:10px;font-family:arial ; color:gray;">
Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted dé clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.</p>

<br>
<br>
<h3 style="font-weight:bold; margin-left: 120px; font-size:22px; margin-right:120px; margin-top:10px;font-family:arial; color:gray;">SUS DATOS PERSONALES</h3>
<p style="margin-left: 120px; font-size:21px; margin-right:120px; margin-top:10px; font-family:arial; color:gray;">
Esta entidad no venderá, cederá ni distribuirá la información personal u otros datos que se recopilan sin su consentimiento, salvo que sea requerido por un juez con un orden judicial. Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.</p>
     </p> 
     <br>
     <p style="background:#53FE03; color:#53FE03;">.</p>

<br>
<br>












</html>