<br>
<h1 style="text-align:center; font-family: arial; background:#37517e; color:white; ">Te contamos algo de SYCOD</h1>
<br>
<br>
<p style="margin-left: 120px; font-size:25px; margin-right:120px; margin-top:10px;">Este proyecto de programación y recopilación de datos con el fin de adquirir experiencia y conocimiento en el sector hotelero, queremos brindar una herramienta fácil de usar para la administración hotelera.
    
    <br><br>
En SYCOD empezamos con un plan de lanzamiento Launch para poder ser utilizado por hoteles o posadas,
nuestra idea es crecer de la mano de la innovación y el conocimiento para poder brindar un mejor servicio.<br><br>
Lo que queremos lograr con este software es que el administrador del establecimiento tenga una herramienta de administración y un control ordenado y fácil de su día a día del hotel o posada.




     </p> 
     <br>
     <p style="background:#53FE03; color:#53FE03;">.</p>